.van-button--info {
  color: #fff;
  border: none;
}
.van-button--info {
  color: #fff;
  border: none;
  height: 88px;
  background:linear-gradient(0deg,rgba(255,137,137,1),rgba(255,120,121,1),rgba(255,87,87,1));
  box-shadow:3px 3px 6px 0px rgba(253, 42, 42, 0.35);
  border-radius:8px;
}
.van-cell {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 29px 25px !important;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}
.van-field__word-limit {
  margin-top: 4px;
  text-align: right;
  height:23px;
  font-size:24px;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(199,199,199,1);
}
.van-field__body {
  height: 175px;
  display: flex;
  align-items: center;
}
.van-uploader__preview-image {
  display: block;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 8px;
}
.van-uploader__upload {
  width: 160px;
  height: 160px;
}
