.van-button--info {
  color: #fff;
  border: none;
}
.van-button--info {
  color: #fff;
  border: none;
  height: 88px;
  background:linear-gradient(0deg,rgba(255,137,137,1),rgba(255,120,121,1),rgba(255,87,87,1));
  box-shadow:3px 3px 6px 0px rgba(253, 42, 42, 0.35);
  border-radius:8px;
}
